


  .about-us-container  {


    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    background-color: rgb(238, 237, 240);

    background-image: linear-gradient(#e9e3e3, #810808);
    color: black;

   

  }

  .card {

    margin-bottom: 20px;

  }

  .card img {

    height: 200px;

    object-fit: cover;

  }

  .card-title {

    font-weight: bold;

    margin-top: 10px;

  }

  .card-text {

    /* margin-top: 10px; */

  }

  .container {

    padding-top: 5%;

    padding-bottom: 5%;

    

  }

  .contain {

    /* background-color: rgb(19, 18, 18); */

    text-align: center;

    padding: 5px;

   

    color: black;

    
  }

  .text-container  {

    color: black;

    font-size: 1.05rem;

    margin-top: 10px;

   

  }