<div class="body">
 <h1>Bus Details</h1>
<div class="row">
 <div class="col-sm-4" *ngFor="let b of bus; let i = index;">
 <div class="row">
  <div class="col-sm-12">
  <div class="card d-flex flex-column my-3" style="justify-content: space-evenly">
 <p class="para1"><b>Bus Name : </b> {{bus[i].busName}}</p><br>

 <p class="para"><b>Bus Number :</b> {{bus[i].busNo}}</p><br>
 <p class="para"><b>Registration Number :</b> {{bus[i].regNo}}</p><br>
 <p class="para"><b>Engine Number :</b> {{bus[i].engineNo}}</p><br>
 <p class="para"><b>Total Seats :</b> {{bus[i].totalSeats}}</p>
 </div>
  </div>
  </div>

 </div>
 </div>

</div>