





<div class="main">
  <div class="container">
    <div class="custom-shape-divider-top-1687251883">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
              d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
              opacity=".25" class="shape-fill"></path>
          <path
              d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
              opacity=".5" class="shape-fill"></path>
          <path
              d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
              class="shape-fill"></path>
      </svg>
  </div>
    <div class="card mb-3" *ngFor="let passenger of passengers; let i = index">
      <div class="card-body" >
        <p>passenger{{i+1}}, Seat Number{{numofseats[i]}}</p>
        <div class="card-row">
          <div class="col">
            <label for="name{{i}}">Name:</label>
            <input type="text" class="form-control" id="name{{i}}" [(ngModel)]="name[i]" placeholder="Enter name" required>
            <div *ngIf="nameErrors[i]" class="error-message" style="color: red;">
              {{ nameErrors[i] }}
            </div>
          </div>
        </div>
        <div class="card-row">
          <div class="col">
            <label for="age{{i}}">Age:</label>
            <input type="number" class="form-control" id="age{{i}}" [(ngModel)]="age[i]" placeholder="Enter age" required>
            <div *ngIf="ageErrors[i]" class="error-message" style="color: red;">
              {{ ageErrors[i] }}
            </div>
          </div>
          <div class="col">
            <label for="gender{{i}}">Gender:</label>
            <select class="form-control" id="gender{{i}}" [(ngModel)]="gender[i]" required name="gender">

              <option value="gender" disabled selected>Select gender</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
            <div *ngIf="genderErrors[i]" class="error-message" style="color: red;">
              {{ genderErrors[i] }}
            </div>
          </div>
        </div>
        <div class="card-row">
          <div class="col">
            <label for="email{{i}}">Email:</label>
            <input type="email" class="form-control" id="email{{i}}" [(ngModel)]="email[i]"  placeholder="Enter email" required>
            <div *ngIf="emailErrors[i]" class="error-message" style="color: red;">
              {{ emailErrors[i] }}
            </div>
          </div>
          <div class="col">
            <label for="mobile{{i}}">Mobile Number:</label>
            <input type="text" class="form-control" id="mobileNo{{i}}" [(ngModel)]="mobileNo[i]" placeholder="Enter mobile number" required>
            <div *ngIf="mobileErrors[i]" class="error-message" style="color: red;">
              {{ mobileErrors[i] }}
            </div>
          </div>
        </div>
        <div class="text-center">
          
        </div>
      </div>
      
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitForm()">Review your journey</button>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>




